<table>
    <tr>
        <td>
            <a href="https://www.facebook.com/?locale=es_ES">
                <img width="15%" src="https://www.facebook.com/images/fb_icon_325x325.png" alt="facebook">
            </a>
        </td>
        <td>
            <a href="https://www.instagram.com/">
                <img width="23%" src="https://www.teleadhesivo.com/es/img/asfs864-png/folder/products-detalle-png/pegatinas-coches-motos-logo-instagram.png" alt="instagram">
            </a>
        </td>
        <td>
            <a href="https://twitter.com/?lang=es">
                <img width="13%" src="https://freelogopng.com/images/all_img/1692007265x-twitter-logo-png.png" alt="x">
            </a>
        </td>
        <td>
            <a href="https://www.youtube.com/">
                <img width="17%" src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c545.png" alt="YouTube">
            </a>
        </td>
    </tr>
</table>
