<h1>Tienda Online</h1>
<p>En nuestra tienda encontrará los mejores productos para la limpieza de su hogar</p>
<ol>
    <li>Detergentes suelo</li>
    <li>Limpieza baño</li>
    <li>Limpieza cocina</li>
    <li>Limpieza exteriores</li>
</ol>
<img width="30%" src="https://thumbs.dreamstime.com/b/frasco-de-fresa-para-la-limpieza-p%C3%A9rdida-peso-en-fondo-coral-dise%C3%B1o-plano-alimentaci%C3%B3n-y-nutrici%C3%B3n-men%C3%BA-diet%C3%A9tico-programa-165721385.jpg" alt="Productos de limpieza">
<table>
    <tr>
        <th>Id del producto</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Imagen</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2,20€</td>
        <td>Lejia Estrella</td>
        <td>
            <img width="7%" src="https://www.arenal.com/medias/22-2OriginalImage-pdpFormat?context=bWFzdGVyfGltYWdlc3w1OTcyNHxpbWFnZS9qcGVnfGltYWdlcy9oMDYvaGJhLzg4MjUwOTYyNDExODIuanBnfGRiNDFmYTRkOTUyMmNlNjdkYjRkNTAyYTQ4MjUwMGRlZDc1OWY5NzhiZDZmMWI3NTRmOTAxOWUwNGE4MDhhMzQ" alt="Lejia">
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>1,50€</td>
        <td>Don Limpio</td>
        <td>
            <img width="6%" src="https://prd-cdn-emea1-joltx.pgsitecore.com/-/media/growing-families-version1/gf-es/00_joltx/2021/products/don-limpio/donlimpiook2/dllpspray/limpiezaprofunda.ashx?rev=87f9447b962e442984385aa63b8819bf" alt="Don limpio">
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>4,35€</td>
        <td>Tenn Bioalcohol</td>
        <td>
            <img width="11%" src="https://limpico.es/1438-medium_default/ten-13l-bioalcohol-verde.jpg" alt="tenn bioalcohol">
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>2,36€</td>
        <td>Cepillo exterior</td>
        <td>
            <img width="5%" src="https://media.adeo.com/marketplace/LMES/83538306/2023051.jpeg?width=650&height=650&format=jpg&quality=80&fit=bounds" alt="cepillo exterior">
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>3,89€</td>
        <td>Escoba y recogedor</td>
        <td>
            <img width="7%" src="https://bixoto.com/media/catalog/product/cache/2e45ba69d70625e0fc47dbc2d34862e1/4/5/4596744.jpg" alt="escoba y cepillo">
        </td>
    </tr>
</table>
<hr>
<app-detalle-producto></app-detalle-producto>
<app-pie-pagina></app-pie-pagina>