<img width="100%"  height="500px" src="https://assets-global.website-files.com/5f5a53e153805db840dae2db/64932f088ae1acf897d3e521_que-es-la-ciberseguridad.jpg"
alt="Ciberseguridad" >
@for(elemento of articulos; track elemento.id){
  <div class="gallery">
      
       <img src="{{elemento.imagen}}" alt="{{elemento.titulo}}" width="600" height="400">
     
      <div class="desc titulo">{{elemento.titulo}}</div>
      <div class="desc">{{elemento.resumen}}</div>
      <a [routerLink]="['/detalle',elemento.id]">
      <button class="button button2">Más información</button>
    </a>
  </div>
  }