<h1>Detalle de Producto</h1>
<table>
    <tr>
        <td>
            <img width="50%" src="https://www.arenal.com/medias/22-2OriginalImage-pdpFormat?context=bWFzdGVyfGltYWdlc3w1OTcyNHxpbWFnZS9qcGVnfGltYWdlcy9oMDYvaGJhLzg4MjUwOTYyNDExODIuanBnfGRiNDFmYTRkOTUyMmNlNjdkYjRkNTAyYTQ4MjUwMGRlZDc1OWY5NzhiZDZmMWI3NTRmOTAxOWUwNGE4MDhhMzQ" alt="Lejia">
        </td>
        <td>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi exercitationem cum itaque consequatur quo fugit autem nam reprehenderit tempora eligendi delectus vitae, eaque, nihil, optio doloribus cupiditate temporibus blanditiis ducimus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, velit consectetur voluptate non sit porro odit nobis culpa enim cum rerum natus ea soluta dolorem mollitia beatae quidem magnam! Quae.</p>
        </td>
    </tr>
</table>
<hr>