a{
    border: 3px solid seagreen;
    background-color:green;
    font-size: 35px;
    border-radius: 2%;
        float: left;
        position:relative;
        color: #FFFFFF;
        display: block;
        font: bold 25px/25px sans-serif;
        padding: 10px 25px;
        
        text-decoration: none;
    }
 