input,  textarea {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #25de10;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 98%;
    background-color: #25de10;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #25de10;
  }
  
  div {
    border-radius: 5px;
    background-color: #555555;
    padding: 20px;
  }
