/* You can add global styles to this file, and also import other style files */
:root{
    color-scheme: light dark;
}
h1{
    color: #25de10;
    text-align: center;
    font-size: 34px;
    
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.button {
    background-color: #25de10; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(246, 246, 246, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }